<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Vous êtes admis.e à l’ENM à la prochaine rentrée</h1>
			<p>
				Félicitations pour ton admission, et bienvenue à l'école de la météo ! <br />
				Tu trouveras des informations concernant la rentrée sur la page facebook de l'école, la page Facebook et le compte Instagram de l'AEENM, ainsi que sur le groupe (privé) facebook correspondant à l'intégration de ton année, n'hésites pas à faire une demande pour y être ajouté ! <br />
				Tu peux aussi consulter la page du site sur les résidences, pour prévoir ton arrivée à la météopole. Pour obtenir une chambre dans les résidences, il faut effectuer une demande par téléphone auprès du gardien. <!-- : NOM Prénom, téléphone. -->
			</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>