<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Non fonctionnaire</h1>
			<p>
				Actuellement, il existe un concours avec des épreuves écrites (Météorologie dynamique, Météorologie générale, culture générale et couche limite) et orales (entretien scientifique et motivation, statistique, informatique et anglais). Il permet d'intégrer l'ENM en deuxième année en tant que civil ou fonctionnaire, à partir d'un niveau M1. Pour plus de détails : <a href="www.enm-toulouse.fr/node/235">www.enm-toulouse.fr/node/235</a>
			</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>