<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Vous êtes en Classe Préparatoire aux Grandes Écoles</h1>
			<p>
				Tu es actuellement en CPGE scientifique, tu cherches à te renseigner sur les écoles d'ingénieurs que tu vas pouvoir ajouter à ta liste sur SCEI, et tu hésites à postuler pour l’ENM ? <br />
				Tu trouveras des informations concernant les différents cours donnés à l'école ainsi que les différentes étapes de la formation ingénieur météo dans l’onglet Scolarité. <br /><br />

				Concernant le concours d’admission, l’ENM se trouve sur le banque “Mines-Telecom” du Concours Commun Mines-Ponts. <br /><br />

				Concours Mines-Telecom : <a href="http://www.concours-mines-telecom.fr">www.concours-mines-telecom.fr</a><br /><br />

				Statistiques d'intégration :<br />

				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Promo 2020</th>
							<th>Promo 2019</th>
						</tr>	
					</thead>
					<tr>
						<td scope="row">Nombre de civils</td>
						<td>15</td>
						<td>9</td>
					</tr>
					<tr>
						<td scope="row">Nombre de fonctionnaires</td>
						<td>21</td>
						<td>23</td>
					</tr>
					<tr>
						<td scope="row">Nombre de MP</td>
						<td>9</td>
						<td>8</td>
					</tr>
					<tr>
						<td scope="row">Nombre de PC</td>
						<td>14</td>
						<td>16</td>
					</tr>
					<tr>
						<td scope="row">Nombre de PSI</td>
						<td>6</td>
						<td>8</td>
					</tr>
					<tr>
						<td scope="row">Nombre de 5/2</td>
						<td>9</td>
						<td>11</td>
					</tr>
					<tr>
						<td scope="row">Nombre de classes "étoiles"</td>
						<td>Non communiqué</td>
						<td>10</td>
					</tr>
				</table>





			</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>