<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Vous êtes lycéen.ne</h1>
			<p>
				Tu vas bientôt obtenir ton BAC, et tu es intéressé(e) par la météorologie et le climat ? <br />
				Tu peux rejoindre l’ENM via de multiples voies ; la plus empruntée étant les Classes Préparatoires aux Grandes Écoles (CPGE) qui durent 2 ans, à l'issue desquelles il faut réussir un concours d’entrée. Il existe des passerelles avec l'université, et même une formation dès BAC+1 en tant que technicien. À toi de trouver ta voie !
			</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>