<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Vous êtes élève en post-BAC (hors CPGE)</h1>
			<p>
				Tu es intéressé(e) par le domaine de la météorologie et du climat ? <br />
				Tu trouveras de plus amples informations concernant les différents cours donnés à l'école ainsi que les différentes étapes de la formation ingénieur météo dans l’onglet Scolarité. <br />
				Il existe plusieurs voies pour postuler à l’ENM, tout dépend de ton parcours scolaire après le BAC. Après l’équivalent d’un M1 dans les domaines des géosciences, de l’atmosphère et/ou du climat, tu peux, sur concours, intégrer l’ENM en 2ème année d’ingénieur. Tu peux aussi suivre le M2 SOAC dispensé à l’ENM en collaboration avec l’université de Toulouse.
			</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>