<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/petanque.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Une année à l'ENM</h1> 
			<h2>“Je vous parle d’un temps, que les moins de vingt ans, ne peuvent pas connaître…”</h2>
			<p>
				L’intégration, vous l’avez vu, occupe donc les 3 premières semaines du mois de septembre. S’ensuit les soirées du jeudi, tout au long de l’année, avec un thème différent chaque semaine. On peut notamment citer la fameuse “soirée terroir”, ou “parrain habille fillot”. <br />
				Les campagnes pour reprendre l’Isobar, le Burô et les différents clubs sont lancées après les vacances de la Toussaint, et les passations se font au Gala, qui se tient le dernier vendredi avant les vacances de Noël. <br />
				L’année est aussi ponctuée de différents week-ends : le week-end d’intégration donc (WEI), le week-end ski (WES), le week-end montagne (WEM) et le week-end de désintégration (WED). <br />
				On peut citer aussi les rencontres inter-écoles, que ce soit intra-INP-Toulouse avec les INPiades fin novembre, ou bien inter-INP (Grenoble, Bordeaux, Clermont-Ferrand et Lorraine) avec les Ol'INP. Et parce que les INP ce n’est pas une secte, on retrouve plusieurs écoles du Sud Est au Massilia Sun Ball, organisé par Centrale Marseille fin mai sur les plages du Grau du Roi. Toutes ces rencontres sont l’occasion de se mesurer aux autres à travers différentes épreuves sportives, ou d’assister à l’un des rares mais tant attendu show Pompom. <br />
				L’ENM participe aussi à la Course Croisière EDHEC (CCE), l’occasion de réveiller, au choix, le navigateur ou le coureur qui est en vous. <br />
				Pour le côté festif en dehors de l’école, on s’invite volontiers aux fameux Break ENAC ou autres Hall C (merci l’ENSEEIHT !). <br />
				Enfin, l’année se termine avec le traditionnel Méchoui de Météo, en hommage à la création du site à l’époque où les terres appartenaient à des éleveurs. C’est l’occasion de rassembler les anciens élèves lorsque les belles journées de juin commencent à arriver.
			</p>

			<div id="carousel-inside" class="carousel carousel-dark slide" data-bs-ride="carousel">
		  		<div class="carousel-inner">
		  			<div class="carousel-item active">
		    			<div class="center-cropped" style="background-image: url('/webroot/img/mechoui.jpg');"></div>
		    		</div>
		    		<div class="carousel-item">
		    			<div class="center-cropped" style="background-image: url('/webroot/img/petanque.jpg');"></div>
		    		</div>
		  		</div>
		  		<button class="carousel-control-prev" type="button" data-bs-target="#carousel-inside" data-bs-slide="prev">
		    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Previous</span>
		  		</button>
		  		<button class="carousel-control-next" type="button" data-bs-target="#carousel-inside" data-bs-slide="next">
		    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Next</span>
		  		</button>
			</div>

			<section id="cd-timeline" class="cd-container cssanimations">
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-picture bounce-in">
						<i class="wi wi-day-sunny"></i>
					</div> <!-- cd-timeline-img -->

					<div class="cd-timeline-content bounce-in">
						<h2>La rentrée à l'ENM</h2>
						<p>
							Félicitations, vous avez été admis à l'École Nationale de la Météorologie ! La première année va pouvoir commencer tout en douceur. <br />
							Avant le jour J, pensez à consulter les diverses informations du burô, en particulier sur les comptes Facebook et Instagram qui lui sont liés. <br />
							Avez-vous réfléchi à réserver une chambre aux <a href="/campus/residences">résidences</a> ? <br />
							Dans tous les cas, vous trouverez sans doute des informations précieuses sur la page relative aux <a href="/you-are/admis">futurs admis</a>.
						</p>
						<span class="cd-date">Début septembre</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-movie">
							<i class="wi wi-day-sunny-overcast"></i>
						</div> <!-- cd-timeline-img -->

						<div class="cd-timeline-content">
							<h2>L'intégration</h2>
							<a href="/vie-associative/integration" class="btn btn-outline-primary">En savoir +</a>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<i class="wi wi-day-cloudy"></i>
						</div> <!-- cd-timeline-img -->

						<div class="cd-timeline-content">
							<h2>Le week-end d'intégration</h2>
							<span class="cd-date">Fin septembre</span>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<i class="wi wi-day-cloudy"></i>
						</div> <!-- cd-timeline-img -->

						<div class="cd-timeline-content">
							<h2>Les campagnes</h2>
							<span class="cd-date">Après Toussaint</span>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<i class="wi wi-day-cloudy"></i>
						</div> <!-- cd-timeline-img -->

						<div class="cd-timeline-content">
							<h2>Le gala</h2>
							<span class="cd-date">Décembre</span>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<i class="wi wi-day-cloudy"></i>
						</div> <!-- cd-timeline-img -->

						<div class="cd-timeline-content">
							<h2>La remise des diplômes</h2>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-location">
							<i class="wi wi-snowflake-cold"></i>
						</div> <!-- cd-timeline-img -->

						<div class="cd-timeline-content">
							<h2>Week-end ski</h2>
							<span class="cd-date">Courant janvier</span>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-location">
							<i class="wi wi-day-fog"></i>
						</div> <!-- cd-timeline-img -->

						<div class="cd-timeline-content">
							<h2>Le week-end montagne</h2>
							<span class="cd-date">Printemps</span>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-location">
							<i class="wi wi-day-lightning"></i>
						</div> <!-- cd-timeline-img -->

						<div class="cd-timeline-content">
							<h2>Le week-end de désintégration</h2>
							<span class="cd-date">Mai</span>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-location">
							<i class="wi wi-fire"></i>
						</div> <!-- cd-timeline-img -->

						<div class="cd-timeline-content">
							<h2>Le mechoui</h2>
							<span class="cd-date">Juin</span>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->
				</section> <!-- cd-timeline -->
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/petanque.jpg')"></div>

<script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
		
<script type="text/javascript" src="/webroot/js/timeline.js"></script>