<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/bandeau_bar.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>L'IsoBar</h1>
			<p>	
				Peut-être au moins aussi important que le Burô, les barmans/barmaids sont au rendez-vous midis et soirs en cas d’une petite faim ou soif. Centre névralgique des soirées du jeudi, l’IsoBar assure le ravitaillement de bière, de cidre et de Sauvignon, à des tarifs hyper compétitifs ! L’AE peut aussi compter sur lui lors des différents évènements de la <a href="/vie-associative">vie associative</a>. 
			</p>

			<div id="carousel-inside" class="carousel carousel-dark slide" data-bs-ride="carousel">
		  		<div class="carousel-inner">
		  			<div class="carousel-item active">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/photo_bar.jpg');"></div>
		   		 	</div>
		    		<div class="carousel-item">
		    			<div class="center-cropped" style="background-image: url('/webroot/img/fresque.jpg');"></div>
		    		</div>
		   		 	<div class="carousel-item">
		    			<div class="center-cropped" style="background-image: url('/webroot/img/bandeau_bar.jpg');"></div>
		    		</div>
		  		</div>
		  		<button class="carousel-control-prev" type="button" data-bs-target="#carousel-inside" data-bs-slide="prev">
		    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Previous</span>
		  		</button>
		  		<button class="carousel-control-next" type="button" data-bs-target="#carousel-inside" data-bs-slide="next">
		    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Next</span>
		  		</button>
			</div>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/bandeau_bar.jpg')"></div>