<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/buro_2021.jpg')"></div>
<div class="container">
    <div class="row justify-content-lg-center">
        <section class="col-lg-8 text-presentation">
        	<h1>Le Burô</h1>
			<h2>Le mot du Burô</h2>
			<p>
				Salut les têtards, ici votre Burô. 
				Votre mission, si vous l’acceptez, est de passer les meilleures années d’école de votre vie et votre cher Burô y veillera. En effet, nous faisons notre possible pour vous proposer des activités diverses et variées allant des soirées à thèmes aux tournois sportifs, sans oublier les fameux weekends en tout genre. Et sans compter sur l’aide précieuse des clubs de l’ENM qui permettent de faire vivre cette école. Vous l’aurez compris, nous ne pouvons donc pas nous ennuyer à la météopole (et encore nous ne vous avons pas parlé du bar…). <br />
				Ainsi, vous pourrez trouver tous les midis au burô Aurélien ou Camille pour la paperasse, Oihana ou Bastien pour les sous pendant que Estelle et Emma postent les dernières actus. Sur les terrains de sport vous pouvez trouver Thibault souvent accompagné de Tom qui revient du musée. Pendant ce temps-là, les milis Marie et Théo sont toujours à l’appel. Enfin, votre vice-prez Léa et votre prez Katia seront toujours là si vous avez besoin. <br />

				<b>Signé l’AEENM</b>
			</p>

			<div id="carousel-inside" class="carousel carousel-dark slide" data-bs-ride="carousel">
		  		<div class="carousel-inner">
		    		<div class="carousel-item active">
		    			<div class="center-cropped" style="background-image: url('/webroot/img/buro2021_passation.jpg');"></div>
		    		</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/buro_2021.jpg');"></div>
		   		 	</div>
		  		</div>
		  		<button class="carousel-control-prev" type="button" data-bs-target="#carousel-inside" data-bs-slide="prev">
		    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Previous</span>
		  		</button>
		  		<button class="carousel-control-next" type="button" data-bs-target="#carousel-inside" data-bs-slide="next">
		    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Next</span>
		  		</button>
			</div>

			<p>
				<h2>Burô 2021</h2>
				<table class="table table-striped table-hover">
					<tr>
						<td>Présidente</td>
						<td>Katia</td>
					</tr>
					<tr>
						<td>Vice-Présidente</td>
						<td>Léa</td>
					</tr>
					<tr>
						<td>Trésorière</td>
						<td>Oihana</td>
					</tr>
					<tr>
						<td>Vice-Trésorier</td>
						<td>Bastien</td>
					</tr>
					<tr>
						<td>Secrétaire</td>
						<td>Aurélien</td>
					</tr>
					<tr>
						<td>Vice-Secrétaire</td>
						<td>Camille</td>
					</tr>
					<tr>
						<td>La Com</td>
						<td>Estelle, Emma, Marie</td>
					</tr>
					<tr>
						<td>Pôle Sport</td>
						<td>Thibault et Théo</td>
					</tr>
					<tr>
						<td>Pôle Art</td>
						<td>Tom</td>
					</tr>
				</table>
			</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/buro_2021.jpg')"></div>