<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/fresque_clubs.png')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Les clubs de l'école</h1>
			<div class="accordion accordion-flush" id="clubs-accordion">
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-heading-one">
				      	<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-one" aria-expanded="true" aria-controls="clubs-accordion-one" style="background-image: url('/webroot/img/club_cuisine.jpg');">
				        Cuisine
				      	</button>
				    </h3>
				    <div id="clubs-accordion-one" class="accordion-collapse collapse show" aria-labelledby="clubs-accordion-one" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_cuisine.jpg');">
				      			<div class="social-in-image">
					      			<a href="https://www.facebook.com/aeenm.club.cuisine"><ion-icon name="logo-facebook"></ion-icon></a>
					      		</div>
				      		</div>
				      		Bienvenue au club cuisine de l'ENM !
							Le meilleur endroit pour se concocter des petits plats ou des gros goûters ! 
							Avec vos ingrédients ou ceux mis à disposition (par des âmes charitables !) et en utilisant le matériel du club (fours, frigo, micro-onde, appareil à raclette, à fondue, mixeur, etc) ou en utilisant le votre, venez quand vous voulez dans la partie cuisine du bar et lancez-vous dans les meilleures expériences culinaires !
							Si vous êtes un peu plus casanier, vous pourrez toujours emprunter certains ustensiles aux résidences (à condition de prévenir la respo du club).
							Enfin, le club cuisine organise de temps en temps des activités comme le calendrier de l'avent à Noël ou un Top Chef version ENM !

							Régalez-vous !
							<br />
							<b>Cécile</b>
				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-heading-two">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-two" aria-expanded="false" aria-controls="clubs-accordion-two" style="background-image: url('/webroot/img/club_astro.jpg');">
				        Astronomie
				      	</button>
				    </h3>
				    <div id="clubs-accordion-two" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-two" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_astro.jpg');">
				      			<!-- <div class="social-in-image">
					      			<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
					      		</div> -->
				      		</div>
				      		Bienvenue au club AstroENM ! Tout le monde y est le bienvenu, passionné d’astronomie ou non. Sur notre page Facebook, tu trouveras les dernières informations liées à l’actualité astronomique (départs de fusées, découvertes majeures…). Grâce au télescope généreusement fourni par notre président, nous essaierons d’organiser des soirées d’observation lorsque ça sera possible !

							<br />
							<b>François</b>
				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-heading-music">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-music" aria-expanded="false" aria-controls="clubs-accordion-music" style="background-image: url('/webroot/img/club_musique.jpg');">
				        Musique
				      	</button>
				    </h3>
				    <div id="clubs-accordion-music" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-music" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_musique.jpg');">
				      			<!-- <div class="social-in-image">
					      			<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
					      		</div> -->
				      		</div>
				      		Tu es musicien ou chanteur ? Débutant ou aguerri ? Tu souhaites jouer dans un groupe ou t'exercer en solo ? Viens profiter du piano, des guitares, de la batterie, des micros, des amplis et de l'ensemble du matériel que le club musique met à ta disposition, pour faire vibrer avec nous toute l'école…

							<br />
							<b>Enora, Emma & Antoine</b>
				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-heading-karaoke">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-karaoke" aria-expanded="false" aria-controls="clubs-accordion-karaoke" style="background-image: url('/webroot/img/club_karaoke.jpg');">
				        Karaoké
				      	</button>
				    </h3>
				    <div id="clubs-accordion-karaoke" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-karaoke" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_karaoke.jpg');">
				      			<!-- <div class="social-in-image">
					      			<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
					      		</div> -->
				      		</div>
				      		Ola les têtards,
							Nous sommes le club Karaoké ! Oui c'est bien nous qu'il faut blâmer dès qu'il pleut le lendemain d'une de nos soirées... Mais pas que, les blind test sont aussi là pour ceux qui préfèrent rester discret (ou bien crier très fort les réponses)
							Alors pour passer des moments de convivialité, n'hésite pas à rejoindre nos soirées !
							<br />
							<b>Manon & Katia</b>
				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-heading-bd">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-bd" aria-expanded="false" aria-controls="clubs-accordion-bd" style="background-image: url('/webroot/img/club_BDtek.jpg');">
				        BD-tek
				      	</button>
				    </h3>
				    <div id="clubs-accordion-bd" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-bd" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_BDtek.jpg');">
				      			<!-- <div class="social-in-image">
					      			<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
					      		</div> -->
				      		</div>
				      		Si vous aimez lire mais que les gros romans vous font peur alors la BDtek est un endroit pour vous ! Un choix immense de BD est à votre disposition. Vous pourrez même trouver quelques romans et mangas. Vous pouvez les lire sur place dans un endroit souvent plus calme que le bar de l’autre côté et même les emprunter chez vous ! Alors n’hésitez pas, nous sommes ouverts tous les midis ! 
							<br />
							<b>Juliette & Benoit</b>
				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-heading-billiards">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-billiards" aria-expanded="false" aria-controls="clubs-accordion-billiards" style="background-image: url('/webroot/img/club_billard.png');">
				        Billard
				      	</button>
				    </h3>
				    <div id="clubs-accordion-billiards" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-billiards" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_billard.png');">
				      			<!-- <div class="social-in-image">
					      			<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
					      		</div> -->
				      		</div>
				      		Bonjour fans de queues et de boules, et non ce n’est pas ce que vous pensez ! Je suis là pour vous présenter le club billard ! Si vous aimez vous retrouver au calme dans un endroit sympa et tamisé avec un peu de musique (non ce n’est toujours pas ce que vous croyez) alors venez vous détendre à la salle billard ! Chaque année nous organisons un tournoi en solitaire ou en équipe. Et si vous aimez les défis alors venez essayer le Blitz ! Et si vous préférez jouer pour le fun, la salle est ouverte tous les midis et tous les soirs. Au plaisir de vous voir au billard ! <br />

							<b>Ecrit par Juliette sous la direction d’Olivier</b>


				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-heading-cd">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-cd" aria-expanded="false" aria-controls="clubs-accordion-cd">
				        CD-tek
				      	</button>
				    </h3>
				    <div id="clubs-accordion-cd" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-cd" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		Le club CD-Tek est là pour ambiancer les soirées au foyer. Pour cela, on compose des playlists variées et on gère la sono. Nous gérons aussi la TekTek où vous pourrez transpirer dans une ambiance plus techno.
							P.S : Pour les propriétaires de lecteurs CD, vous trouverez forcément votre bonheur dans notre réserve plutôt bien fournie de CD à votre disposition ! <br />
							<b>Agathe, Sybille & Manon</b>
				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-heading-dvd">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-dvd" aria-expanded="false" aria-controls="clubs-accordion-dvd" style="background-image: url('/webroot/img/club_DVDtek.jpg');">
				        DVD-tek
				      	</button>
				    </h3>
				    <div id="clubs-accordion-dvd" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-dvd" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_DVDtek.jpg');">
				      			<!-- <div class="social-in-image">
					      			<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
					      		</div> -->
				      		</div>
				      		Envie de regarder un bon film ? De battre vos adversaires sur Mario Kart ou Smash Bros ? De suivre vos émissions préférées comme Koh-Lanta ou Top Chef ? 
							Alors venez en DVD-tek, salle magique où vous pouvez emprunter cassettes et dvd, jouer à la Switch, la Wii, la GameCube, et bien sûr profiter de fauteuils ultra confortables.
							Nous sommes ouverts H24, 7 jours sur 7, on vous y attendra chaleureusement ! <3 <br />

							<b>Jérémy & Zoé</b>
				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-heading-footing">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-footing" aria-expanded="false" aria-controls="clubs-accordion-footing" style="background-image: url('/webroot/img/club_footing.jpeg');">
				        Footing
				      	</button>
				    </h3>
				    <div id="clubs-accordion-footing" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-footing" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_footing.jpeg');">
				      			<!-- <div class="social-in-image">
					      			<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
					      		</div> -->
				      		</div>
				      		Besoin de motivation ? Le club footing est là pour toi !
							Nous nous retrouvons une à deux fois par semaine pour aller pratiquer la course à pieds à plusieurs dans les environs de l'école, et dans la bonne humeur ! Aucun niveau minimum n’est nécessaire, tout le monde est le bienvenu, et chacun y va à son rythme !  <br />
							Nous t’attendons avec impatience ! <br />

							<b>Léna & Chloé</b>

				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-headinn-gardening">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-gardening" aria-expanded="false" aria-controls="clubs-accordion-gardening" style="background-image: url('/webroot/img/club_jardin.jpg');">
				        Jardinage
				      	</button>
				    </h3>
				    <div id="clubs-accordion-gardening" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-gardening" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_jardin.jpg');">
				      			<!-- <div class="social-in-image">
					      			<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
					      		</div> -->
				      		</div>
				      		Au club jardinage, et bah on jardine : on fait pousser oignons, salades, fraises et même pastèques (pas sur que ça marche…) au bon vouloir de chacun ! Et c’est également l’occasion d’apprendre les bases du jardinage en partageant des moments conviviaux. Donc que vous soyez débutant ou jardinier à plein temps, vous êtes les bienvenus ! <br />
							<b>Sybille & Agathe</b>


				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-headinn-games">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-games" aria-expanded="false" aria-controls="clubs-accordion-games" style="background-image: url('/webroot/img/club_jeux.jpg');">
				        Jeux
				      	</button>
				    </h3>
				    <div id="clubs-accordion-games" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-games" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_jeux.jpg');">
				      			<!-- <div class="social-in-image">
					      			<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
					      		</div> -->
				      		</div>
				      		Salut à toi, jeune étudiant(e) !
							Tu aimerais pouvoir te divertir pendant tes pauses repas avec tes amis ? Tu voudrais te détendre après une bonne journée de travail ? Tu es plutôt joueur(se) en général ?
							Alors le club jeux est fait pour toi ! En solitaire, coopératifs, en équipe, pour 2 joueurs ou pour 8… le club jeux te trouvera forcément un jeu qui te plaira, avec son catalogue d’une soixantaine de jeux de société ! Le club jeux, c’est aussi des activités dans l’année comme le tournoi d’échecs ou bien la soirée poker. De plus, l’armoire à jeux est située en plein cœur de la vie étudiante météopolitaine : au foyer de l’ENM ! 
							Alors à toi les parties endiablées de tarot, loup garou ou de Mysterium ! Même si tu ne connais pas les règles, tu trouveras forcément des gens qui te les expliqueront. Il y a un jeu que tu adores et qui ne se trouve pas chez nous ? N ‘hésites pas à en parler au responsable du club, et il pourra te le procurer. <br />
							En tout cas, nous te souhaitons bonne continuation et nous espérons te retrouver à l’ENM pour une petite partie ! <br />

							<b>Benoit & Alan</b>

				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-headinn-diy">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-diy" aria-expanded="false" aria-controls="clubs-accordion-diy" style="background-image: url('/webroot/img/club_randonnee.jpg');">
				        Méca-Montagne
				      	</button>
				    </h3>
				    <div id="clubs-accordion-diy" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-diy" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_randonnee.jpg');">
				      			<!-- <div class="social-in-image">
					      			<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
					      		</div> -->
				      		</div>
				      		Le club méca/montagne met à disposition des adhérents un large panel de matériel  grâce à un système de prêt. Vous y trouverez du matériel de bricolage et de mécanique mais aussi de quoi s’initier à l’escalade et à l’alpinisme. Quelques sorties en montagne sont aussi parfois organisées. <br />

							<b>Bastien</b>
				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-headinn-mmc">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-mmc" aria-expanded="false" aria-controls="clubs-accordion-mmc" style="background-image: url('/webroot/img/club_MMC.jpg');">
				        Météo Média Club
				      	</button>
				    </h3>
				    <div id="clubs-accordion-mmc" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-mmc" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_MMC.jpg');">
				      			<div class="social-in-image">
					      			<a href="https://www.facebook.com/MeteoMediaClub"><ion-icon name="logo-facebook"></ion-icon></a>
					      			<a href="https://www.instagram.com/mmc_enm/?hl=fr"><ion-icon name="logo-instagram"></ion-icon></a>
					      		</div>
				      		</div>
				      		Salut à toi jeune têtard ! <br />
							Le Météo-Média-Club, alias MMC, est le club multimédia de l’école. Il est fait pour toi si tu aimes la vidéo, la photo, la communication ou encore l’informatique. Durant l'année, nous sommes présents aux événements associatifs pour y capturer tes meilleurs souvenirs, que ce soit au stand photo ou au montage vidéo ! <br />
							Nous avons aussi réalisé le site internet de l’association des élèves, l’AEENM, où tu trouveras toutes les infos dont tu as besoin pour préparer ta rentrée à Toulouse. <br />
							Alors rejoins-nous vite, nous t’attendons avec impatience ! <br />

							<b>Chloé</b>

				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-headinn-cheerlead">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-cheerlead" aria-expanded="false" aria-controls="clubs-accordion-cheerlead" style="background-image: url('/webroot/img/club_pompom.jpg');">
				        Pompom
				      	</button>
				    </h3>
				    <div id="clubs-accordion-cheerlead" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-cheerlead" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_pompom.jpg');">
				      			<div class="social-in-image">
					      			<a href="https://www.youtube.com/channel/UCHxWhLY7VbRTfXQV6Zk_I-Q"><ion-icon name="logo-youtube"></ion-icon></a>
					      		</div>
				      		</div>
				      		Vous aimez l'esprit de team? Vous appréciez remuer votre boule en rythme? Vous affectionnez l'idée de représenter l'ENM aux compétitions inter-école? Eh bien nous vous attendons au club pompom!
							Pas de niveau de danse exigé, juste de la motivation et de la bonne humeur..Les chorégraphies sont des créations des responsables, pas de portés insane ou de saltos au beau milieu, c'est majoritairement de la danse, alors pas de panique, c'est accessible à tout le monde.
							La bonne ambiance est de mise avec deux entraînements par semaine. Une à deux représentations par année lors de tournoi inter-écoles.
							N'hésitez pas à nous rejoindre! (les effets de groupe en seront d'autant plus stylés...) <br />
							La bise les têtards <br />

							<b>Fantine</b>
				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-headinn-rock">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-rock" aria-expanded="false" aria-controls="clubs-accordion-rock">
				        Rock
				      	</button>
				    </h3>
				    <div id="clubs-accordion-rock" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-rock" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		Que vous soyez pro ou totalement débutant, n’hésitez pas à venir au foyer tous les mardis soir de 18h à 19h pour partager votre savoir ou apprendre à danser le rock et maîtriser quelques passes acrobatiques pour les plus audacieux. A vous maintenant d’enflammer le dancefloor au foyer !! <br />
							<b>Manon & Sybille</b>

				      	</div>
				    </div>
			  	</div>
			  	<div class="accordion-item">
				    <h3 class="accordion-header" id="clubs-accordion-headinn-bicy">
				      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#clubs-accordion-bicy" aria-expanded="false" aria-controls="clubs-accordion-bicy" style="background-image: url('/webroot/img/club_velo.jpg');">
				        Vélo
				      	</button>
				    </h3>
				    <div id="clubs-accordion-bicy" class="accordion-collapse collapse" aria-labelledby="clubs-accordion-bicy" data-bs-parent="#clubs-accordion">
				      	<div class="accordion-body">
				      		<div class="img-social-clubs" style="background-image: url('/webroot/img/club_velo.jpg');">
				      			<!-- <div class="social-in-image">
					      			<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
					      			<a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
					      		</div> -->
				      		</div>
							Tu possèdes un vélo? Tu souhaites découvrir ton nouveau terrain à plusieurs ou même partir grimper les plus hauts sommets Pyrénéens ou de la Montagne Noire en bonne compagnie ? Pas de doute ! Les sorties du Club Vélo de l'AEENM sauront te séduire ! Tu pourras aussi participer à de belles balades détentes et de partage sur 2 roues ! <br />

							<b>Nino</b>
				      	</div>
				    </div>
			  	</div>
			</div>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/fresque_clubs.png')"></div>