<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/inte.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>L'intégration</h1>
			<p><h2>Alala… que dire tout en gardant la surprise ?…</h2> En réalité, c’est plus de la cohésion que du bizutage, pour créer des liens forts et rapidement entre les premières années, tout en respectant certaines traditions. Elle dure 3 semaines et se termine par le fameux weekend d’intégration. Bien sûr, rien n’est obligatoire, mais tout est fortement conseillé si vous souhaitez prolonger un peu les vacances !
			Un petit conseil tout de même : prévoir une tenue de sport et une tenue salissante.
			Pour les (potentiels) admis, n’hésitez pas à suivre les différents réseaux du Burô la semaine avant la rentrée, c’est là que seront diffusées les différentes recommandations et consignes en temps voulu.
			</p>

			<div id="carousel-inside" class="carousel carousel-dark slide" data-bs-ride="carousel">
		  		<div class="carousel-inner">
		    		<div class="carousel-item active">
		    			<div class="center-cropped" style="background-image: url('/webroot/img/integration_2020.jpg');"></div>
		    		</div>
		    		<div class="carousel-item">
		    			<div class="center-cropped" style="background-image: url('/webroot/img/inte.jpg');"></div>
		    		</div>
		  		</div>

		  		<button class="carousel-control-prev" type="button" data-bs-target="#carousel-inside" data-bs-slide="prev">
		    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Previous</span>
		  		</button>
		  		<button class="carousel-control-next" type="button" data-bs-target="#carousel-inside" data-bs-slide="next">
		    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Next</span>
		  		</button>
			</div>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/inte.jpg')"></div>