<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/foyer4.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Le foyer</h1>
			<h2>Le foyer est LE lieu de vie de tout étudiant !</h2> 
			<p>
				On s’y retrouve principalement le midi et le soir pour manger, se détendre et passer des moments conviviaux. Pour cela, sont mis à disposition des tables de ping-pong, un baby foot, un billard et des jeux de société. <br />
				On y retrouve surtout l’<a href="/vie-associative/bar">IsoBar</a>, ainsi que différentes salles dédiées aux <a href="/vie-associative/clubs">Clubs</a> : <br />
				- La DVD-tek, salle de projection de films, d’émission télé ou de parties de Mario Kart<br />
				- La salle de musique, particulièrement bien fournie<br />
				- La BD-tek/le MMC, le second étant le plus récent, il a dû se trouver une place parmis les bouquins<br />
				- Le Méca, bric à brac de matériel technique en tout genre<br />
				- Le Billard, pas besoin de trop de description je crois<br />
				- La CD-tek, collection inégalable de Compact Disc et accessoirement cabine DJ <br />
				- La Tek-Tek, sombre salle pleine de surprises...
			</p>
			<div id="carousel-inside" class="carousel carousel-dark slide" data-bs-ride="carousel">
		  		<div class="carousel-inner">
		    		<div class="carousel-item active">
		    			<div class="center-cropped" style="background-image: url('/webroot/img/foyer.jpg');"></div>
		    		</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/foyer2.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/foyer3.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/foyer4.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/salle_BDtek.jpg');"></div>
		      			<div class="carousel-caption d-none d-md-block">
		        			<h5>La BD-tek</h5>
		      			</div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/salle_billard.jpg');"></div>
		      			<div class="carousel-caption d-none d-md-block">
		        			<h5>La salle de billard</h5>
		      			</div>
		   		 	</div>
		  		</div>
		  		<button class="carousel-control-prev" type="button" data-bs-target="#carousel-inside" data-bs-slide="prev">
		    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Previous</span>
		  		</button>
		  		<button class="carousel-control-next" type="button" data-bs-target="#carousel-inside" data-bs-slide="next">
		    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Next</span>
		  		</button>
			</div>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/foyer4.jpg')"></div>