<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/ecole_enm.jpg')"></div>
<div class="container">
    <div class="row justify-content-lg-center">
        <section class="col-lg-8 text-presentation">
            <h1>Notre campus</h1>

            <h2>Ici prochainement une magnifique carte interactive</h2>

            <p>La Météopole regroupe plusieurs entités : l’école bien sûr, mais aussi le <a href="">Centre National de Prévision</a> (CNP), le Centre National de Recherche Météorologique (CNRM), les locaux du Service Central d’Hydrométéorologie et d’Appui à la Prévision des Inondations (SCHAPI), le Centre Européen de Recherche et de Formation Avancée en Calcul Scientifique (CERFACS) et des bâtiments militaires. C’est donc un site fermé et surveillé avec poste de garde à l’entrée.</p>
        </section>
    </div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/ecole_enm.jpg')"></div>