<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/residences.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Les résidences</h1> 
			<p>Situées sur le campus, les résidences proposent à chaque étudiant (avec priorité aux primo-arrivants) une chambre d’environ 15 m2, avec une salle de douche, pour un loyer de 143 euros par mois. Les toilettes ainsi que les cuisines sont communes à chaque étage et des parkings sont prévus pour les voitures et les vélos.
			</p>
			<div id="carousel-inside" class="carousel carousel-dark slide" data-bs-ride="carousel">
		  		<div class="carousel-inner">
		    		<div class="carousel-item active">
		    			<div class="center-cropped" style="background-image: url('/webroot/img/residences.jpg');"></div>
		    		</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/chambre_1.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/chambre_2.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/chambre_3.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/chambre_4.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/chambre_5.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/chambre_6.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/chambre_7.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/chambre_8.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/residences_2.jpg');"></div>
		   		 	</div>
		  		</div>
		  		<button class="carousel-control-prev" type="button" data-bs-target="#carousel-inside" data-bs-slide="prev">
		    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Previous</span>
		  		</button>
		  		<button class="carousel-control-next" type="button" data-bs-target="#carousel-inside" data-bs-slide="next">
		    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Next</span>
		  		</button>
			</div>
			<p>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Ce qui est fourni</th>
							<th>Ce que vous <span class="bold">devez</span> emmener</th>
							<th>Ce que vous pouvez emmener</th>
						</tr>	
					</thead>
					<tr>
						<td>1 lit simple</td>
						<td>couette</td>
						<td>1 petit réfrigérateur (très recommandé)</td>
					</tr>
					<tr>
						<td>1 bureau et 1 chaise</td>
						<td>oreiller</td>
						<td>1 étendoir à linge (très recommandé)</td>
					</tr>
					<tr>
						<td>1 armoire</td>
						<td>draps</td>
						<td>meuble de rangement / étagère</td>
					</tr>
					<tr>
						<td>1 lampe de bureau</td>
						<td>vaisselle</td>
						<td>appareils électroménagers (bouilloire, ...)</td>
					</tr>
					<tr>
						<td>1 table</td>
						<td></td>
						<td>serpillère, balais</td>
					</tr>
					<tr>
						<td>1 table de chevet</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>1 meuble de rangement</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>1 aspirateur par étage</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>2 machines à laver*</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>2 sèche-linges*</td>
						<td></td>
						<td></td>
					</tr>
				</table>

			* mobilier commun à tous les résidents. <br />
			<b>Remarque :</b> il est possible de recevoir des lettres, et mieux vaut opter pour des points relais pour les colis.</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/residences.jpg')"></div>