<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/rio.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Le Rio</h1>
			<h2>Notre fleuve sacré</h2> 
			<p>Il s’agit d’un petit cours d’eau qui parcourt le campus, et en particulier la zone réservée aux élèves. Un petit havre de paix peuplé de grenouilles, de poissons (dont Moby Dick) et de canards. Seules les soirées du jeudi soir viennent parfois troubler les eaux claires du Rio.</p>

			<video id="my-video" class="video-js vjs-theme-forest vjs-4-3" controls preload="auto" data-setup="">
        		<source src="/webroot/src/rio.mp4" type="video/mp4" />
             	Hum... Ton navigateur ne semble pas prendre en charge notre lecteur vidéo. Ré-essaie avec Firefox, Chrome, Safari, Edge, ou même une version récente d'Internet Explorer !
    		</video>

		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/rio.jpg')"></div>