<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/enm_cnrm.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Le site de Météo-France</h1> 
			<h2>On l'appelle plus simplement la Météopole !</h2>
			<p>
				La Météopole regroupe plusieurs entités : l’école bien sûr, mais aussi le Centre National de Prévision (CNP), le Centre National de Recherche Météorologique (CNRM), les locaux du Service Central d’Hydrométéorologie et d’Appui à la Prévision des Inondations (SCHAPI), le Centre Européen de Recherche et de Formation Avancée en Calcul Scientifique (CERFACS) et des bâtiments militaires. C’est donc un site fermé et surveillé avec poste de garde à l’entrée.

				<img src="/webroot/img/plan_meteo.png" alt="plan_meteo" />

				<b>Adresse :</b> 42 avenue Gaspard Coriolis, 31057 Toulouse Cedex 1.<br>
				<b>Métro et bus pour se rendre à Météo-France :</b> ligne de métro A arrêt [Basso Cambo] puis ligne de bus 18 arrêt [Météo].
			</p>

			<div id="carousel-inside" class="carousel carousel-dark slide" data-bs-ride="carousel">
		  		<div class="carousel-inner">
		    		<div class="carousel-item active">
		    			<div class="center-cropped" style="background-image: url('/webroot/img/enm_cnrm.jpg');"></div>
		    		</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/enm.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/ecole_enm.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/entree_MF.JPG');"></div>
		   		 	</div>
		  		</div>
		  		<button class="carousel-control-prev" type="button" data-bs-target="#carousel-inside" data-bs-slide="prev">
		    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Previous</span>
		  		</button>
		  		<button class="carousel-control-next" type="button" data-bs-target="#carousel-inside" data-bs-slide="next">
		    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Next</span>
		  		</button>
			</div>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/enm_cnrm.jpg')"></div>