<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/capitole.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Vivre à Toulouse</h1> 
			<p>

				<img src="/webroot/img/plan_alentours.png" alt="plan_alentours" />

				<b>Zone commerciale :</b> 15 minutes en voiture (Portet-sur-Garonne). <br />
				<b>Aéroport Toulouse-Blagnac :</b> 10 minutes en voiture, 45 minutes bus+métro+tram. <br />
				<b>Gare Matabiau :</b> 20 minutes en voiture, 35 minutes bus+métro. <br />
				<b>Centre ville :</b> 25-30 minutes bus+métro [Capitole]. <br />

				<img src="/webroot/img/plan_toulouse.png" alt="plan_toulouse" />

				<b>Astuce :</b> prendre la carte Pastel chez Tisséo (8 euros à l’achat de la carte) pour bénéficier du tarif étudiant : 4,10 euros les 10 déplacements 
			</p>

			<div id="carousel-inside" class="carousel carousel-dark slide" data-bs-ride="carousel">
		  		<div class="carousel-inner">
		    		<div class="carousel-item active">
		    			<div class="center-cropped" style="background-image: url('/webroot/img/centre_ville.jpg');"></div>
		    		</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/capitole.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/centre_ville_2.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/pont_neuf.jpg');"></div>
		   		 	</div>
		   		 	<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/saint_sernin.jpg');"></div>
		   		 	</div>
		  		</div>
		  		<button class="carousel-control-prev" type="button" data-bs-target="#carousel-inside" data-bs-slide="prev">
		    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Previous</span>
		  		</button>
		  		<button class="carousel-control-next" type="button" data-bs-target="#carousel-inside" data-bs-slide="next">
		    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Next</span>
		  		</button>
			</div>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/capitole.jpg')"></div>