<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/eleve_2.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>La première année</h1>
			<p>Elle se décompose en deux semestres (semestre 5 et 6) de tronc commun. Les matières y sont regroupées par modules : </p>

			<h2>Semestre 5</h2>

			<p>
		    <b>Sciences de l'ingénieur :</b> mathématiques, Physique et mécanique des milieux continus, Physique et transfert thermique<br />
		    <b>Sciences météo-climatiques :</b> Physique et dynamique de l'atmosphère, Système climatique<br />
		    <b>Traitement de données géophysiques :</b> Bases en informatique (Linux, Python, algorithmie), Technologies web, Capteurs et métrologie, exploitation des mesures et des données d’observation <br />
		    <b>Production d’informations météo-climatiques :</b> introduction à la modélisation,  bases de l’Analyse météorologique <br />
			<b>Ingénieur premier de cordée :</b>  Dynamique de groupe, Bureautique et production de documents, Connaissance de l’entreprise, Préparation à la vie professionnelle, Anglais LV1 (possibilité de LV2 : Allemand et Espagnol), Gestion de projet <br />
			</p>

			<h2>Semestre 6</h2>

			<p>
		    <b>Sciences de l'ingénieur :</b> Traitement du signal, Statistiques et probabilités, Physique et mécanique des fluides et des solides <br />
		    <b>Sciences météo-climatiques :</b> Dynamique des moyennes latitudes, Dynamique de la convection, Dynamique de l'océan, Couche limite atmosphérique, Rayonnement <br />
			<b>Traitement de données géophysiques :</b> Outils de calculs scientifiques, Génie logiciel <br />
			<b>Production d’informations météo-climatiques :</b> Situations météorologiques types et modèles conceptuels associés. <br />
		    <b>Ingénieur premier de cordée :</b> Langues vivantes, Technique de communication, Concepts économiques fondamentaux, Projet Voltaire (à valider en autonomie), Ecoute client <br />
			</p>

			<div id="carousel-inside" class="carousel carousel-dark slide" data-bs-ride="carousel">
		  		<div class="carousel-inner">
		  			<div class="carousel-item active">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/ballon-sonde.jpg');"></div>
		   		 	</div>
		    		<div class="carousel-item">
		    			<div class="center-cropped" style="background-image: url('/webroot/img/eleve_2.jpg');"></div>
		    		</div>
		    		<div class="carousel-item">
		     		 	<div class="center-cropped" style="background-image: url('/webroot/img/eleve_1.jpg');"></div>
		   		 	</div>
		  		</div>
		  		<button class="carousel-control-prev" type="button" data-bs-target="#carousel-inside" data-bs-slide="prev">
		    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Previous</span>
		  		</button>
		  		<button class="carousel-control-next" type="button" data-bs-target="#carousel-inside" data-bs-slide="next">
		    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    		<span class="visually-hidden">Next</span>
		  		</button>
			</div>

		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/eleve_2.jpg')"></div>