<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>La deuxième année</h1>
			<p>
				La deuxième année est divisée en deux parties.
			</p>
			<h2>Semestre 6</h2>
			<p>
				Le premier semestre de cette seconde année est “classique”, c'est-à-dire avec des cours, des TD et des TP. Les modules et les matières sont : <br /> 
				<b>Sciences de l’ingénieur :</b> Statistique et analyse numérique <br />
				<b>Sciences météo-climatiques :</b> Dynamique des fluides numériques, Météorologie tropicale, Chimie atmosphérique, Climat et changement climatique, Surfaces continentales et météorologie urbaine. <br />
				<b>Traitement de données géophysiques :</b> projet logiciel, langage objet, Java et réseau de mesure. <br />
				<b>Production d’informations météo-climatiques :</b> Méthode de prévision à différentes échelles. <br />
				<b>Recherche et innovation :</b> Prévision numérique du temps, modélisation des processus physiques et assimilation de données. <br />
				<b>LV1 anglais :</b> niveau visé à la fin des 3 ans : TOEFL ITP > 550.
			</p>
			<h2>Semestre 7</h2>
			<p>
				Le deuxième semestre commence avec le <a href="/scolarite/projet-EMI">projet EMI</a> (Etudes Modélisation Innovation), qui est un projet informatique de 8 semaines dans différents services de Météo-France. Il permet de mettre à profit, de manière concrète, les connaissances accumulées, en compagnie de chercheurs la plupart du temps. Et ensuite, l’année se termine sur de l’approfondissement de thématiques au choix, comme l’hydrologie, la pollution atmosphérique, la météorologie marine, les feux de forêt, les avalanches, l’agro-météorologie etc...
			</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>