<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>La troisième année</h1>
			<p>Elle est dédiée à la mobilité ! En effet, les élèves ont le choix, ou bien proposent d’eux-mêmes des semestres en lien avec la formation, c’est le fameux <a href="/scolarite/S9">“S9”</a> qui dure les 6 premiers mois, et les 6 derniers mois sont occupés par le <a href="/scolarite/stages">Projet de Fin d’Etude</a> (PFE).
			</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>