<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>La différence civil/fonctionnaire</h1>
			<h2>La subtilité de l'ENM</h2> 
			<p>
				Étant sous la responsabilité de l’établissement public Météo-France, l’ENM recrute deux types d’ingénieurs. <br />
				Les civils ou non-fonctionnaires (minoritaires) sont des étudiants “normaux”, comme il y a dans la majorité des écoles d’ingénieurs. Ils ne sont pas rémunérés. <br />
				En revanche, la majorité des promotions accueillent des fonctionnaires. Comme le nom l’indiquent, ils signent un contrat avec Météo-France dès leur arrivée à l’école, pour 8 ans (à la suite des 3 années de formation ingénieur). En terme de métier, cela sous-entend une grande diversité, de la prévision à la recherche, mais surtout une liste de postes disponibles l’année de la sortie d’école, qui peut varier très fortement d'une promotion à l’autre. Ce premier poste doit être pris pour au moins 2 ans. <br />
				Le centre principal d’activité est évidemment Toulouse, mais il y a aussi des postes de prévisionnistes en région et dans les DOM-TOM, et des centres thématiques comme le Centre de Météorologie Spatiale à Lannion, le centre Média à Paris ou le laboratoire d’étude des cyclones de l’océan Indien (LACY) à Saint-Denis de la Réunion. <br />
				Les fonctionnaires ont un salaire dès la première année, qui est d'environ 1200 € par mois, puis environ 2 200 € en deuxième année et dernière année. Ils bénéficient aussi d’un tarif réduit à <a href="/campus/eurest">Eurest</a> (restaurant présent sur le site).
</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>