<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Le projet EMI</h1>
			<p>
				Le projet Etude, Modélisation et Innovation est un projet informatique au service d’une équipe ou d’un chercheur de Météo France. Ces derniers proposent une liste de projet et les élèves doivent se positionner. Le compte rendu de ce projet sert, à plusieurs niveaux, d’évaluation : lors de la présentation à l’équipe dans un premier temps, puis une restitution devant la direction des études et le(s) tuteur(s), et enfin, en anglais, lors de la création et de la présentation d’un poster. <br />
				Ce projet est non seulement l’occasion d’améliorer ses compétences en informatique, mais aussi d'appréhender le travail en équipe et les applications concrètes du métier de météorologue, que ce soit en prévision ou en recherche.
			</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>