<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Le semestre 9</h1>
			<p>Il s'agit du premier semestre de la troisième année. C’est un semestre qui permet à l’élève de personnaliser sa formation, avec la possibilité de postuler dans un autre établissement pour ces 6 mois. Sur Toulouse, on pense notamment à l’INSA pour les statistiques, l’ENSEEIHT pour la mécanique des fluides ou les big-data, et le master SOAC pour l’océanographie. Ensuite, libre à l’étudiant de postuler ailleurs en France ou à l’étranger. Et pour ceux qui préfèrent rester à l’école, le S9 de l’ENM est axé sur les services météo-climatiques, avec une alternance de cours magistraux, de TP sur des campagnes d’observation, et de projets en autonomie. <br /> Il peut être effectué en anglais.
			</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>