<div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h1>Les stages à l'ENM</h1>
			<p>Comme dans chaque école d’ingénieur, il y a des stages à la fin de chaque année du cursus. <br />
			<h2>En première année, </h2> 
			c’est le stage “ouvrier” d’une durée de 6 semaines, qui se déroule sur les mois de Juillet et Août, à l’étranger ou non, qui peut ne pas être en lien avec le domaine de la météorologie (par exemple, un job d'été peut être accepté pour les élèves non-fonctionnaires).
			<h2>En deuxième année, </h2> 
			il dure 8 semaines et doit au contraire, être dans le domaine de la météo, toujours pareil : à l’étranger ou non, à nouveau sur les mois de Juillet et Août.
			<h2>Enfin, en dernière année, le PFE (Projet de Fin d'Étude)</h2> lui dure 6 mois, et peut influencer le poste qui suit, notamment pour les élèves non-fonctionnaires.

			<br /><br />À noter que l’école exige d’être partie au moins une fois à l’étranger, que ce soit en stage ou en Semestre 9.
			</p>
		</section>
	</div>
</div>
<div class="img-text-presentation img-text-presentation-bottom" style="background-image: url('/webroot/img/synopsis_3.jpg')"></div>

