<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="8" aria-label="Slide 9"></button>
  </div>
  <div class="carousel-inner">
  	<div class="carousel-item active">
      <div class="center-cropped" 
		    style="background-image: url('webroot/img/ecole_hall.jpg');">
			</div>
    </div>

    <div class="carousel-item">
    	<div class="center-cropped" 
		    style="background-image: url('../../webroot/img/carousel_2.jpeg');">
			</div>
    </div>

    <div class="carousel-item">
      <div class="center-cropped" 
		    style="background-image: url('../../webroot/img/synopsis_1.jpg');">
			</div>
    </div>

    <div class="carousel-item">
      <div class="center-cropped" 
		    style="background-image: url('../../webroot/img/inpiades.jpg');">
			</div>
    </div>

  	<div class="carousel-item">
      <div class="center-cropped" 
		    style="background-image: url('../../webroot/img/halo_accueil.jpeg');">
			</div>
    </div>

    <div class="carousel-item">
      <div class="center-cropped" 
		    style="background-image: url('../../webroot/img/gala.jpg');">
			</div>
    </div>

    <div class="carousel-item">
      <div class="center-cropped" 
		    style="background-image: url('../../webroot/img/mascotte.jpg');">
			</div>
    </div>
    
    <div class="carousel-item">
      <div class="center-cropped" 
		    style="background-image: url('../../webroot/img/beluga_toulouse.jpg');">
			</div>
    </div>
    
    <div class="carousel-item">
      <div class="center-cropped" 
		    style="background-image: url('../../webroot/img/tour_obs.jpg');">
		</div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<img id="logo_enm_grenouille" src="/webroot/img/logo_enm.jpg" alt="logo_enm" />

<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<div class="home-phone">
				<h2>Une question ? Appelez-nous !</h2>
				<ion-icon name="call-outline"></ion-icon>05 61 07 80 80
			</div>
			<br /><br />
			<video id="my-video" class="video-js vjs-theme-forest vjs-16-9" poster="/webroot/img/synopsis_3.jpg" controls preload="auto" data-setup="">
			    <source src="/webroot/src/quickshow_enm.mp4" type="video/mp4" />

			    Hum... Ton navigateur ne semble pas prendre en charge notre lecteur vidéo. Ré-essaie avec Firefox, Chrome, Safari, Edge, ou même une version récente d'Internet Explorer !
			</video>
			<br><br>
			<h2>Le projet</h2>
			<p>
				Ce site internet est l'aboutissement d'un projet lancé par l'Association Étudiante de l'École Nationale de la Météorologie. Il a été imaginé et développé par des élèves ingénieurs et ne traite par conséquent que de la formation ingénieur proposée par l'établissement. Si vous souhaitez avoir plus d'informations sur les différents parcours proposés par l'école, rendez-vous sur le site institutionnel de l'ENM : <a href="http://www.enm-toulouse.fr/">http://www.enm-toulouse.fr/</a>. 
			</p>
			<br>
			<h2>L'école en quelques chiffres <span class="fs-6">(2020-2021)</span></h2>
		</section>
	</div>
</div>	
<div class="row chiffres-ecole">
	 <div class="col-3">
	 		<div class="chiffre">156</div>
	 		ingénieurs étudiants sur le campus
	 </div>
	 <div class="col-3">
	 		<div class="chiffre">60%</div>
	 		des étudiants ingénieurs sont fonctionnaires
	 </div>
	 <div class="col-3">
	 		<div class="chiffre">1500</div>
	 		météorologistes en poste sur le campus
	 </div>
	 <div class="col-3">
	 		<div class="chiffre">45</div>
	 		hectares, c'est la taille de la Météopôle
	 </div>
</div>
<div class="container">
	<div class="row justify-content-lg-center">
		<section class="col-lg-8 text-presentation">
			<h2>Le mot de la direction</h2>
			<p>
				L’École Nationale de la Météorologie est l’une des grandes écoles du ministère, au même titre que l’ENTPE, l’ENAC, l’ENSG. Elle est aussi très fortement intégrée dans le réseau INP (Institut National Polytechnique). <br /><br />

				Cela lui permet de fournir une offre variée aux ingénieurs qu’elle forme, ainsi qu’en masters et mastères spécialisés. Des voies d’approfondissement comme CIRMA bénéficient d’une renommée nationale.<br /><br />

				Par rapport à certaines autres écoles du ministère de l'environnement, elle présente la particularité d’avoir un domaine très précis et très technique, au lieu d’une logique plus généraliste. Elle forme, outre les ingénieurs, les techniciens supérieurs et les militaires à compétences météorologiques et océanographiques. <br /><br />

				Une autre de ses particularités est la très grande importance de la formation permanente ou continue. <br /><br />

				L’enjeu majeur, pour les années à venir, sera de poursuivre l’évolution déjà entreprise et consistant à passer d’une école formant des météorologues pour Météo-France à une école formant des spécialistes des sciences météorologique et climatique pour l’ensemble de la société.
			</p>
			<h2>Tutelles & partenaires</h2>
		</section>
	</div>
</div>
<div class="bandeau_partners">
	<img class="partner_img" src="/webroot/img/ministere_ecologie.png" alt="ministere_ecologie" />
	<img class="partner_img" src="/webroot/img/logo_mf.png" alt="logo_mf" />
	<img class="partner_img" src="/webroot/img/omm.jpg" alt="OMM" />
	<img class="partner_img" src="/webroot/img/ensg.png" alt="ensg" />
	<img class="partner_img" src="/webroot/img/inp.png" alt="inp" />
	<img class="partner_img" src="/webroot/img/cnrm.png" alt="cnrm" />
	<img class="partner_img" src="/webroot/img/cerfacs.png" alt="cerfacs" />
	<img class="partner_img" src="/webroot/img/enac.jpg" alt="ENAC" />
	<img class="partner_img" src="/webroot/img/entpe.png" alt="entpe" />
	<img class="partner_img" src="/webroot/img/toulouse_tech.png" alt="ToulouseTech" />
	<img class="partner_img" src="/webroot/img/fac.png" alt="fac" />
	<img class="partner_img" src="/webroot/img/EAMAC.jpg" alt="EAMAC" />
	<img class="partner_img" src="/webroot/img/meteorage.jpg" alt="meteorage" />
	<img class="partner_img" src="/webroot/img/ehtp.png" alt="EHTP" />
</div>

<!-- <div class="img-text-presentation img-text-presentation-top" style="background-image: url('/webroot/img/petanque.jpg')"></div> -->

<!-- <div class="row g-2">
	<section id="news" class="col-md-8">
		<h1>Actualités</h1>

		<div class="card mb-3">
		 	<div class="row g-0">
		    	<div class="col-md-4">
		    		<div class="center-cropped-news" style="background-image: url('https://www.1zoom.me/big2/46/225961-svetik.jpg');"></div>
		    	</div>
		    	<div class="col-md-8">
		      		<div class="card-body">
		        		<h2 class="card-title">Des couvres-chefs aux couleurs de l'ENM !</h2>
		        		<p class="card-text">De magnifiques casquettes et bobs vous attendent au burô ! Plusieurs coloris sont disponibles, et le logo est à chaque fois brodé sur le vêtement.</p>
		        		<a class="btn btn-outline-primary" href="#">En savoir +</a>
		        		<p class="card-text"><small class="text-muted">Publié il y 12 heures</small></p>
		      		</div>
		    	</div>
		  	</div>
		</div>

		<div class="card mb-3">
		 	<div class="row g-0">
		    	<div class="col-md-4">
		    		<div class="center-cropped-news" style="background-image: url('https://www.minutenews.fr/wp-content/uploads/2017/01/1485805662-357ed9d27a2615d59aad7f6feef7a689.jpg');"></div>
		    	</div>
		    	<div class="col-md-8">
		      		<div class="card-body">
		        		<h2 class="card-title">Le club méca se refait une beauté</h2>
		        		<p class="card-text">Il est tout beau tout propre, ça y est ! Grâce aux qualités manifestes de son nouveau responsable, le club méca dispose enfin de plus d'un mètre carré où ne jongent pas le sol tabourets, morceaux de bois ni boulons en tous genres.  </p>
		        		<a class="btn btn-outline-primary" href="#">En savoir +</a>
		        		<p class="card-text"><small class="text-muted">Publié il y 4 jours</small></p>
		      		</div>
		    	</div>
		  	</div>
		</div>

		<div class="card mb-3">
		 	<div class="row g-0">
		    	<div class="col-md-4">
		    		<div class="center-cropped-news" style="background-image: url('https://cdn.radiofrance.fr/s3/cruiser-production/2020/11/b5f3f01a-6aeb-4799-9e93-6d28c37604e5/1136_gettyimages-pascal_biomez.jpg');"></div>
		    	</div>
		    	<div class="col-md-8">
		      		<div class="card-body">
		        		<h2 class="card-title">Tournoi d'échec 2021</h2>
		        		<p class="card-text">C'est acté, le tournoi d'échec sera lancé le 7 mai prochain. L'inscription coûte seulement 2€ et plein de lots sont à gagner pour les plus experts d'entre vous !</p>
		        		<a class="btn btn-outline-primary" href="#">En savoir +</a>
		        		<p class="card-text"><small class="text-muted">Publié il y 7 jours</small></p>
		      		</div>
		    	</div>
		  	</div>
		</div>

	</section>
	<section class="col-md-4">
		<h1>Le mot de la direction</h1>

		<p>L’École Nationale de la Météorologie est l’une des grandes écoles du ministère, au même titre que l’ENTPE, l’ENAC, l’ENSG. Elle est aussi très fortement intégrée dans le réseau INP (Institut National Polytechnique). <br /><br />

	Cela lui permet de fournir une offre variée aux ingénieurs qu’elle forme, ainsi qu’en masters et mastères spécialisés. Des voies d’approfondissement comme CIRMA bénéficient d’une renommée nationale.<br /><br />

	Par rapport à certaines autres écoles du ministère de l'environnement, elle présente la particularité d’avoir un domaine très précis et très technique, au lieu d’une logique plus généraliste. Elle forme, outre les ingénieurs, les techniciens supérieurs et les militaires à compétences météorologiques et océanographiques. <br /><br />

	Une autre de ses particularités est la très grande importance de la formation permanente ou continue. <br /><br />

	L’enjeu majeur, pour les années à venir, sera de poursuivre l’évolution déjà entreprise et consistant à passer d’une école formant des météorologues pour Météo-France à une école formant des spécialistes des sciences météorologique et climatique pour l’ensemble de la société.</p>
	</section>
</div> -->

<script type="text/javascript">
	var myCarousel = document.querySelector('#carousel')
	var carousel = new bootstrap.Carousel(myCarousel)
</script>